.btn {
  border-radius: 20px;
  border: 2px var(--clr-primary) solid;
  background-image: var(--gradient);
  cursor: pointer;
  color: var(--clr-2);
  text-align: center;

  height: inherit;
  width: fit-content;

  font-size: 1em;
  padding: 0.625em 1.625em;
  margin: 10px;
  margin: auto;
  margin-bottom: 5px;
  transition: all 0.4s;
}

.btn:hover {
  opacity: 0.7;
}

.btn-random{
  margin-inline-start:0 ;
}

/* .btn-seved-memes, */
.btn-back{
  margin: 20px;
 }

 