.main-layout {
  display: grid;
  
}

.main-container-layout{
      
       
  display: grid;
  grid-template-areas: 
  "c"
  "b";
  justify-items: center;

  gap: 10px;
}

.box-layout{
  flex-direction: column;
}

.gallery-layout{
  display: grid;
  place-content: center;
  gap: 30px;
  
  
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.gallery-layout>.btn {
  grid-column: 1/-1;
}