.main-layout {
  display: grid;
  
}

.main-container-layout{
  display: grid;
  grid-template-areas: 
  "c"
  "b";

  justify-items: center;

  gap: 10px;
}

.box-layout{
  display: grid;
  grid-template-columns: 1fr;
}

