.control-box>*{
  margin: auto;
  
  
}

.control-box{
  grid-area: b;
  background-color: var(--clr-2);
  padding: 20px;
  border-radius: 10px;
}

.box{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  position: relative;
  
}

#change-stroke-color,
#change-txt-color{
  position:fixed;
  bottom:0;
  right: 0;
}
                        

