.control-box{
  grid-area: b;
  background-color: var(--clr-primary);
  padding: 20px 40px;
  width: 450px;
  height: 460px;
  border-radius: 40px;
}

.box{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  position: relative;
  
}

.control-box>input {
  box-shadow: 1px 5px 0 0 #bbc4d1,
  inset 0 5px 0 #fff;
  border-radius: 28px;
  background-color: var(--grey-clr-1);
  width: 90%;
}


.btn-txt-color,
.btn-color-stroke {
  position: relative;
}

input[name="change-txt-color"],
input[name="change-stroke-color"] {
  opacity: 0;
  position: absolute;
}
                        
