.main-header {
  margin: 20px;
  background-image:var(--gradient);
  color: var(--clr-2);
  border-radius: 40px;
 
}

.main-header .nav {
  height: var(--nav-height);
}

.main-header .main-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  width: var(--nav-height);

  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
    
  transition: box-shadow 0.4s;
}

.main-nav li:first-child {
margin-inline-end: 30px;
}


.main-header .main-nav li.active {
  background-color: var(--clr-2);
  color: var(--clr2);
}

.main-header .main-nav li:hover {
  box-shadow: inset 5px -6px 5px var(--clr1);
}