input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid var(--clr-primary);
  border-radius: 10px;
  transition: all .4s;
}

input[type=text]:focus {
  border: 2px solid var(--clr1);
}

