.modal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--clr-3);
  height: 60vh;
  width: 80vw;
  
  text-align: center;
}

.saved-memes-gallery >img{
  width: 150px;
}

.btn-dalete-meme{
  padding: 0;
  border: none;
  font-size: 1.5em;
}

.btn-close-modal{
  position: absolute;
  top: -10;
  left: 0;
  font-size: 12px;
  padding: 0.2rem;
  border-radius: 50%;
}