.saved-memes-gallery{
  background-color: var(--clr-primary);
    padding: 10px;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
.saved-memes-gallery>div {
  width: 200px;
  cursor: pointer;
  margin: 10px;
  
  position: relative;
  display: inline-block;
}

.saved-meme-img{
  border-radius: 10px;
  transition: all .4s;
}

.saved-meme-img:hover {
  opacity: 0.7;
}

.btn-dalete-meme {
  position:absolute;
  left: 45%;
  bottom: 5px;
  padding: 0;

  font-size: 1.6em;
  border: none;
  background-color: transparent;
  transition: all .4s;
}

.btn-dalete-meme:hover {
  scale: 1.2;
  color: var(--clr-2);
  background-image: var(--gradient);
}

.saved-memes-gallery>p{
  text-align: center;
  font-size: 4em;
}

.btn-make-meme{
  display: grid;
}

