
@media (min-width:850px){
  

  .main-layout {
    grid-template-columns:
     minmax(20px, 1fr)
     minmax(auto, 820px) 
     minmax(20px, 1fr);
   }
     .main-layout>.full {
       grid-column: 1 / -1;
     }
  
     .main-layout>*:not(.full) {
       grid-column: 2;
     }

 .main-header {
  border-radius: 40px;
  }
  .main-container-layout {
      grid-template-areas: "c b";
      column-gap: 10px;
    }

  .gallery{
  margin: 10px;
  
}
 
    .canvas-container {
      width: 400px;
      height: 400px;
    }
  
    .control-box {
      width: 400px;
      height: 400px;
    }
     


}

@media (min-width:1050px){
  .main-layout {
      grid-template-columns: 
      minmax(20px, 1fr) 
      minmax(auto, 1000px) 
      minmax(20px, 1fr);
    }

  .canvas-container {
    width: 450px;
    height: 450px;
  }
  .control-box {              
    width: 450px;
    height: 450px;
  } 
}


