:root{

  /* palette */
  --clr8: #22252c;
  --clr7: #33be6d;
  --clr6: #8f44bb;
  --clr5:#3e4b68;
  --cl4:#5970c1;
  --clr3: #1e7cd3;
  --clr2: #19a59f;
  --clr1: #21ac91;
  --clr-primary: #383b42;
  --clr-1:#fefefe;
  --clr-2: #ebeef3;

  /* linear-gradien */
  --gradient: linear-gradient(-90deg, var(--clr7) 0%, var(--clr2) 100%);
  
  
  /* layout */
    --nav-height: 70px;
}